body {
  background-color: rgb(229, 226, 224);
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-image: url(svg/baggrundmagnifymoment.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

h1 img {
  position: relative;
  width: 20%;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 40%;
  margin-top: auto;
}

p {
  font-family: "Noto Sans", sans-serif;
  color: rgb(91, 89, 88);
  text-decoration: underline;
  text-transform: uppercase;
}

.container1,
.container2,
.container3,
.container4 {
  display: flex;
  position: sticky;
  z-index: 1;
  width: 1200px;
  height: auto;
  align-items: center;
  position: relative;
  left: 130px;
  top: 0;
  justify-content: center;
  gap: 100px;
  margin-bottom: 100px;
}

.container1 {
  width: 800px;
  height: auto;
  align-items: center;
  position: relative;
  left: 330px;
  top: 0;
  justify-content: center;
  gap: 100px;
}
.mussesti-magnify-moment {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  color: rgb(91, 89, 88);
  margin-top: 10px;
  margin-left: 20px;
  bottom: 5px;
  text-decoration: underline;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  body {
    background-color: rgb(199, 193, 186);
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-image: url(svg/baggrundmagnifymoment.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
  }

  h1 img {
    position: relative;
    width: 20%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }

  p {
    font-family: "Noto Sans", sans-serif;
    color: rgb(91, 89, 88);
    text-align: center;
  }

  .container1,
  .container2,
  .container3,
  .container4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }

  .container1 {
    width: 100%;
    left: 0;
  }
}
