* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e5e2e0;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-image: url(svg/service1.svg);
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: rgb(91, 89, 88);
}
.h1-service h1 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: rgb(91, 89, 88);
  margin: 3rem;
  font-size: 50px;
}

p {
  font-family: "Noto Sans", sans-serif;
  color: rgb(91, 89, 88);
}

@media (min-width: 800px) {
  .grid_1_1 {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-left: 470px;
    margin-bottom: 32px;
  }
}

@media (min-width: 800px) {
  .grid_1_1_1 {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-left: 358px;
  }
}
#footer-p-service {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin-top: 128px;
}
