/* GENEREL CSS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(229, 226, 224);
  padding: 0;
  margin: 0;
  line-height: 1.5;

  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: white;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
}
a:hover {
  color: rgb(91, 89, 88);
  font-family: "Ubuntu", sans-serif;
}
/* FOOTER */
footer {
  margin-top: auto;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 0;
  text-align: center;
  color: white;
  top: 0;
  padding: 1rem 2rem;
  background-color: rgb(91, 89, 88);
  position: sticky;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.373);
}

#footer-p {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin-top: 1rem;
}

/* P TAG */

p {
  font-family: "Ubuntu", sans-serif;
  max-width: 65ch;
  text-align: justify;
  color: white;
  font-size: 15px;
  margin-bottom: 4rem;
}
/* HEADER */

header {
  top: 0;
  background-color: rgb(91, 89, 88);
  height: 7rem;
  display: flex;
  justify-content: space-between;
  /*box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.373);*/
}

/* Header children */

.logo {
  position: sticky;
  align-items: center;
  width: 200px;
}

.logo img {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  position: sticky;
}

header nav ul,
header nav {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
}

header nav ul {
  gap: 0.5rem;
}

/* MENU settings*/
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 5rem;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: rgb(199, 193, 186);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: "Ubuntu", sans-serif;
}
.menu h1 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: whitesmoke;
  font-size: 30px;
}

#search {
  display: block;
  padding: 10px;
  color: rgb(199, 193, 186);
  text-transform: uppercase;
  transition: color 0.3s;
  text-align: end;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  margin-top: 1rem;
}
#search input {
  display: table-column;
}

.menu a:hover {
  color: whitesmoke;
}

.burger {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 3rem;
  margin-right: 2rem;
  margin-left: auto;
}

.burger .line {
  width: 100%;
  height: 3px;
  background-color: rgb(199, 193, 186);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
.menu {
  display: none;
}
.burger {
  display: block;
}
.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}
.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}

nav.active .menu {
  display: block;
  position: relative;
  top: 18px;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgb(91, 89, 88, 0.8);
}

nav.active .menu li {
  margin: 10px 20px;
  margin: 1rem;
}

nav.active .menu a {
  font-size: 24px;
  padding: 1rem;
}
